section {
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.5s;
}

.about_section {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.about_section h2 {
  text-align: center;
  color: var(--accent-color);
}

.about_education_div {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
  padding-bottom: 10px;
}

.about_certification_div {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
}

.about_certification_div li {
  list-style-type: circle;
}

.about_skills_div {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
}

.about_skills_div ul {
  list-style: none;
}

.about_section_skills {
  display: flex;
  align-items: flex-start;
  justify-content: baseline;
  flex-wrap: wrap;
  width: 100%;
}

.about_section_skills_button {
  padding: 5px 8px 5px 8px;
  border-radius: 14px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: rgb(211, 224, 143);
  transition: 0.5s;
  font-weight: bold;
}

.about_section_skills_button:hover {
  scale: 0.9;
}

.about_concepts ul li {
  margin-top: 10px;
  list-style-type: circle;
}

@media only screen and (max-width: 768px) {
  .about_certification_div {
    padding-bottom: 10px;
  }
}
