.top {
  margin: 0;
  height: auto;
  width: 100%;
  min-height: 100vh;
}

.hero {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero_intro {
  width: 600px;
  text-align: justify;
  box-sizing: border-box;
}

.hero_name {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.hero_name span {
  color: var(--accent-color);
}

.hero_title {
  border: 2px solid red;
  padding: 10px;
  cursor: pointer;
}

.hero_name_tag {
  color: rgb(0, 46, 252);
  font-weight: bold;
  font-size: 40px;
}

.hero_profile {
  width: fit-content;
}

.hero_profile p {
  font-size: 25px;
  padding: 10px;
}

.hero_profile p span {
  font-size: 25px;
  color: red;
  font-weight: bold;
}

/* //////////////////////// RIGHT SIDE  ///////////////////////////////// */

.hero_welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_pic {
  width: 500px;
  height: fit-content;
}

.welcome {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  color: var(--accent-color);
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 100px;
    top: 0;
  }

  .hero_intro {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .hero_name {
    width: 80%;
    text-align: left;
    font-size: 20px;
  }

  .hero_name span {
    font-size: 30px;
  }

  .hero_profile {
    text-align: left;
    width: 100%;
    font-size: 16px;
  }

  .hero_profile p {
    font-size: 19px;
  }

  .hero_profile p span {
    font-size: 18px;
    color: var(--accent-color);
    font-weight: bold;
  }

  .hero_pic {
    width: 100%;
    height: auto;
  }
  .welcome {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 100px;
    top: 0;
  }

  .hero_intro {
    width: 100%; /* Full width for smaller screens */
    text-align: center; /* Center align text */
    margin-bottom: 10px;
  }

  .hero_profile {
    width: 100%;
    font-size: 18px;
  }

  .hero_pic {
    width: 100%;
    height: auto;
  }
  .welcome {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
}
